*.iml
.gradle
.idea/*
!.idea/copyright
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
*.apk
*.class

bin/
gen/
out/
build/
generated/
local.properties
# Kotlin
.kotlin
# Sentry Config File
sentry.properties